FTP_PUBLIC_IP=changeme
FTP_PORT=21
SFTP_PORT=2222
FTP_ENABLED=true
SFTP_ENABLED=true
FTP_PASSIVE_PORT_RANGE=50000-50999
# FTP_TLS_CERT=/etc/ftp/tls.crt
# FTP_TLS_KEY=/etc/ftp/tls.key
COS_STATIC_SECRET_ID=changeme
COS_STATIC_SECRET_KEY=changeme
COS_STATIC_SESSION_TOKEN=changeme

COS_BUCKET=changeme
COS_REGION=changeme

PUBLIC_URL=http://localhost:9001

OIDC_ISSUER_URL=https://iam.central.tech/realms/master
OIDC_CLIENT_ID=changeme
OIDC_CLIENT_SECRET=changeme
OIDC_ADMIN_GROUP=cds-fileserver-admin
OIDC_READONLY_GROUP=cds-fileserver-user
OIDC_FRONTEND_REDIRECT_URL=/auth/callback

FTP_DEFAULT_ROOT_PREFIX=/t/t/
