FTP_PUBLIC_IP=172.16.188.140
COS_STATIC_SECRET_ID=AKIDyRHh35UgtdPSpPhKiPN2moPzi2OTY7VoDnt-_3z6BBe-_GMU8vanafPI7hiZL9JL
COS_STATIC_SECRET_KEY=2m13A3xg3YFFXn6S3CoSaTly8WKGI/mRhdzoabzypAU=
COS_STATIC_SESSION_TOKEN=WSzLLqj92wH3afUSNGd7wV07jDhgdALa71a171cb8dafc3c930923303ebc95343QXykKiVCyKNXwCgBCv_8Nfq2NuwP2lAZifVrViku8vmMSvkXTv7v0ClLvUKs846r_G_LT1LOBuIrHlxslnPl7_gRCjFZTOgO5XeFF-Xw5ueSyF_mEvRQ6U4GHjjUTlZGo2f82Wrw-Mfzeho2_H0iojLTuAemWPDjZb3pjMtW0EWyJrSGruplQUmoFUVq1ol_MBD6-oMSj4j4YdwKGN2cCqLy3Ct7D0XNA42to21IYydsa3wj8e1rcI-QlsygKuRlcL80q0Ya0uVHWJd5EWT6FBN21Fu-ejMqXux4P4q1SAwp95QnuTj-C_4jESGdkEDMl54oo3bWkGuGniefo8LX_M4PSl9e60uuJSUyctOxUqbY2D5qg5UnLBXSvwVbKNSIh4QFrcrEc-pBZkHyQkEMMoVxJRN_0rF_GJ6RiD2gp3fjeCVUtrd0QNx35H5eSnfUA_8b5c__9ijO40iWaYrY_AXMgWBciAqjj2w00kL0m5yvt2Nv6aKyhyu1x7iW2AztE2vOwQWNwGeCHPsv7Rg5pss3smE8GWgiKMlu7rouBX6oAv1eLq9xBDo5MEqhx6fbKpH34RfvakH5nLU5PMe30Ry_LwoIybSl-YFbDlZrSJRki4BkFNvLNay0-lm-o2oTY7XXyhgPg_hPbWVVFnW5g-aJUMCVH7AMvAPOEWPH39a9ykIuDgZLwLgdkd7tD2XQprt8950XWJmLXqE04cXVBn-VeEd6JIklLvd4RBNaj5Z0BNLsd2ACfPybeR0U1wP_7p82n5yWxXtiXIzWDA0ghweE_WrequVLo01SJ6pr04U

COS_BUCKET=test-1409486316
COS_REGION=ap-bangkok

PUBLIC_URL=http://localhost:9001

OIDC_ISSUER_URL=https://iam.central.tech/realms/master
OIDC_CLIENT_ID=cds-nonprod-file-server
OIDC_CLIENT_SECRET=99qxs5Zhs8VgmfkYWkp6FyJo287DwWkr
OIDC_ADMIN_GROUP=cds-fileserver-admin
OIDC_READONLY_GROUP=cds-fileserver-user
OIDC_FRONTEND_REDIRECT_URL=/auth/callback

FTP_DEFAULT_ROOT_PREFIX=/t/t/
